@page "/"
<PageTitle>Dymaxion360</PageTitle>

<div style="margin: 150px;">
    <br />

    <h2>Dymaxion360</h2>

    <br />
    <br />

    A Software Development Consultancy

    <br />
    <br />


    <br />

@*     <button @onclick="HandleButtonClick">Click me</button> *@
</div>

@code {
    private void HandleButtonClick()
    {
        // Handle button click logic here
    }
}
